---
import MainLayout from "../layout/mainLayout.astro";
import "../CSS/index.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aiaman</title>
  </head>
  <body>
    <MainLayout>
      <header>
        <div>
          <h1>Hay thear,<br/> My name is <span>aiaman</span></h1>
          <p>
            A 14-year-old coder, where the magic of <span>JavaScript</span> comes alive in
            groundbreaking projects.
          </p>
        </div>
        <div id="buttons">
          <button>Get in tuch!</button>
          <button>About me</button>
        </div>
      </header>
    </MainLayout>
  </body>
</html>
