/* Scrool Animaction */
.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-20px);
    transition: all 0.5s;
}

.show {
    transform: translateX(0px);
    filter: blur(0px);
    opacity: 1;
}

/* Base Styles */
.text-decoration-none {
    text-decoration: none;
}

/* Color Classes */
.purple {
    color: #0092cc;
}

.white {
    font-weight: 700;
    color: #fff;
}

.red {
    color: #ff5d5d;
}

/* Header Styles */
header {
    margin: 50px 120px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header p {
    font-size: 19px;
    width: 430px;
    color: #d6d6d6;
}

header h1 {
    font-size: 42px;
    width: 450px;
    color: #d6d6d6;
}

header button {
    font-size: 13px;
    margin-right: 13px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 100px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    background-color: #353535;
    transition: all 0.3s;
}

header button a {
    text-decoration: none;
    color: #fff;
}

header button:hover {
    background-color: #3575ce;
}

#buttons {
    margin-top: 30px;
}

/* Projects Section Styles */
#projects-main {
    padding: 80px 5px;
}

#project-top {
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
    align-items: center;
}

#project-top svg {
    height: 20px;
    fill: #fff;
}

#projects {
    margin-top: 32px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    gap: 20px;
}

.card {
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    margin: 10px 40px;
    background-color: transparent;
    border-radius: 20px;
}

.card p {
    max-width: 250px;
    font-size: 15px;
    line-height: 20px;
    color: #d4d4d4;
}

.card h2 {
    font-size: 20px;
    color: #fff;
    margin-top: 12px;
}

.card svg {
    height: 50px;
    margin: 0px 20px;
    width: auto;
}

.card:hover {
    background-color: #303030;
    box-shadow: 0px 0px 20px #000;
}

/* About Section Styles */
#about {
    padding: 50px 70px 0px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about img {
    transition: all 0.4s ease;
    height: 450px;
    width: auto;
    position: absolute;
    z-index: 1;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

#main-pic {
    display: grid;
    place-items: center;
}

#main-pic:hover #box-shadow {
    transform: rotate(0);
}

#about img:hover {
    height: 460px;
}

#box-shadow {
    transition: all 0.3s ease-in-out;
    padding: 220px;
    border-radius: 25px;
    background-color: #303030;
    position: absolute;
    transform: rotate(-8deg);
    box-shadow: 10px 10px 100px rgb(0, 0, 0);
}

#box-shadow2 {
    margin-right: 200px;
    padding: 220px;
}

#about p {
    text-align: justify;
    color: #d4d4d4;
    line-height: 22px;
    font-size: 18px;
}

#about h2 {
    color: #fff;
    font-size: 38px;
    line-height: 48px;
}

/* Skills Section Styles */
#skills-main {
    padding-top: 80px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#skills-main h2 {
    text-align: center;
    font-size: 40px;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

#skills svg {
    margin: 50px;
    border-radius: 8px;
    height: 70px;
    width: auto;
}

#contact-main {
    padding: 80px 190px;
}

#contact-main h3 {
    font-size: 40px;
    margin: 50px;
    text-align: center;
}

#contact-main input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 3px solid #d6f4ff;
    background-color: #25242b;
    color: #fff;
    font-weight: 700;
    border-radius: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#contact-main input[type=submit] {
    background-color: #002533;
    border: 3px solid #0092cc;
    font-weight: 700;
    font-size: 14px;
    border-radius: 100px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

#contact-main input[type=submit]:hover {
    background-color: #3f0863;
}

.container {
    border-radius: 20px;
    background-color: transparent;
}

/* Media Queries */
@media screen and (max-width: 800px) {

    #about,
    #projects {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
    }

    #about img,
    #box-shadow,
    #box-shadow2 {
        height: 280px;
    }

    #box-shadow {
        padding: 1px 140px;
    }

    #box-shadow2 {
        margin-right: 0;
        margin-bottom: 200px;
        padding: 0px;
    }

    #about img:hover {
        height: 300px;
    }

    #about {
        padding: 40px;
    }

    header {
        margin: 100px 0;
    }

    header h1 {
        font-size: 33px;
        max-width: 300px;
    }

    header p {
        font-size: 20px;
        max-width: 290px;
    }

    #about-main {
        margin-top: 50px;
    }

    #main-pic {
        height: 0px;
        margin-top: 100px;
        margin-bottom: 200px;
    }

    #projects-main {
        margin: 0px;
    }

    .card {
        margin-bottom: 50px;
    }

    #skills svg {
        margin: 50px;
        height: 60px;
    }

    #skills {
        margin-bottom: 0px;
    }

    #skills-main {
        margin-top: 40px;
    }

    #contact-main {
        margin: 120px 40px;
    }
}
