/* Base Styles */
.text-decoration-none {
    text-decoration: none;
}

/* Color Classes */
.purple {
    color: #0092cc;
}

.white {
    font-weight: 700;
    color: #fff;
}

.red {
    color: #ff5d5d;
}

/* Header Styles */
header {
    margin: 70px 120px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header p {
    font-size: 16px;
    width: 450px;
    color: #d6d6d6;
}

header h1 {
    font-size: 46px;
    width: 450px;
    color: #d6d6d6;
}

header button {
    font-size: 16px;
    margin-right: 13px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 100px;
    padding: 8px 18px;
    color: #fff;
    border: 2px solid #ccc;
    background-color: #353535;
    transition: all 0.4s;
}

header button:hover {
    border: 2px solid #353535;
}

#buttons {
    margin-top: 30px;
}

/* Projects Section Styles */
#projects-main {
    margin-bottom: 50px;
}

#project-top {
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
    align-items: center;
}

#project-top svg {
    height: 20px;
    fill: #fff;
}

#projects {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}

#card {
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    margin: 10px 40px;
    background-color: transparent;
    border-radius: 20px;
}

#card p {
    max-width: 250px;
    font-size: 15px;
    line-height: 20px;
    color: #d4d4d4;
}

#card h5 {
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
}

#card svg {
    height: 50px;
    margin: 0px 20px;
    width: auto;
}

#card:hover {
    background-color: #303030;
    box-shadow: 0px 0px 20px #000;
}

/* About Section Styles */
#about {
    margin: 80px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about-main {
    text-align: justify;
    padding-top: 60px;
}

#about img {
    transition: all 0.4s ease;
    height: 450px;
    position: absolute;
    z-index: 1;
    border-radius: 25px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
}

#main-pic {
    display: grid;
    place-items: center;
}

#main-pic:hover #box-shadow {
    transform: rotate(0);
}

#about img:hover {
    height: 460px;
}

#about p {
    color: #d4d4d4;
    line-height: 22px;
    font-size: 18px;
}

#about h2 {
    color: #fff;
    font-size: 38px;
    line-height: 48px;
}

#box-shadow {
    transition: all 0.3s ease-in-out;
    padding: 220px;
    border-radius: 25px;
    background-color: #303030;
    position: absolute;
    transform: rotate(-8deg);
    box-shadow: 10px 10px 100px rgb(0, 0, 0);
}

#box-shadow2 {
    margin-right: 200px;
    padding: 220px;
}

/* Skills Section Styles */
#skills-main {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skills-main h2 {
    text-align: center;
    font-size: 35px;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

#skills svg {
    margin: 50px;
    border-radius: 8px;
    height: 70px;
    width: auto;
}

/* Media Queries */
@media screen and (max-width: 800px) {
    #about, #projects {
        display: flex;
        justify-content: center;
    }

    #about img, #box-shadow, #box-shadow2 {
        height: 280px;
    }

    #box-shadow {
        padding: 140px;
    }

    #box-shadow2 {
        margin-right: 0;
        margin-bottom: 200px;
        padding: 100px;
    }

    #about img:hover {
        height: 300px;
    }

    header {
        margin: 130px 0;
    }

    header h1 {
        font-size: 33px;
        max-width: 300px;
    }

    header p {
        font-size: 20px;
        max-width: 290px;
    }

    #about-main {
        margin: 40px;
    }

    #card {
        margin-bottom: 60px;
    }

    #skills svg {
        height: 60px;
    }
}
