@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    font-family: 'Ysabeau Infant', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: #fff;
    background-color: #1e1c20;
    padding: 0;
}

::selection {
    background: rgba(147, 117, 255, 0.719);
    color: #ffffff;
}

nav {
    position: sticky;
    margin: 0;
    top: 0;
    left: 0;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1c20ce;
    backdrop-filter: blur(10px);
    z-index: 99;
}

#nav-left {
    display: flex;
    align-items: center;
}

#nav-left h1 {
    font-weight: 700;
}

#nav-middle ul {
    list-style: none;
    display: flex;
}

#nav-middle ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: all 0.2s;
    margin-right: 18px;
}

#nav-middle ul li a:hover {
    color: rgb(194, 194, 194);
}

#nav-right svg {
    display: flex;
    fill: #fff;
    height: 18px;
    width: auto;
    cursor: pointer;
    border-radius: 100px;
    padding: 7px 7px;
    border: solid 3px #cccccc;
    background-color: #353535;
    margin: 0px 4px;
    transition: all 0.3s;
}

.eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #fff;
}

.eye:after {
    /*pupil*/
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: #131018;
    border-radius: 50%;
    content: " ";
}

#nav-right svg:hover {
    border: solid 3px #353535;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

footer p {
    margin: 20px 50px;
    font-size: 16px;
    font-weight: 400;
}

#my-link {
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
    color: #ff5d5d;
    text-decoration: none   ;
}

#my-link:hover {
    color: rgb(116, 116, 116);
}

footer svg {
    height: 14px;
    width: auto;
}

@media screen and (max-width: 800px) {
    footer {
        display: contents;
        text-align: center;
    }

    footer p {
        margin: 20px 40px;
    }

    #nav-middle ul {
        display: none;
    }
}